body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}

h3{
    font-family:'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}