body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}

h3{
    font-family:'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
}

.vid1{
    margin-left: 500px;
}